<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Panel sterowania Nauczyciela</title>
</head>

<body>
<h1> Panel główny nauczyciela </h1>
<a href="/logout"> Wyloguj </a>

<br>

<ul>
    <li> <a href="/teacher/editStudents"> Edytuj uczniów </a> </li>
    <li> <a href="/teacher/showUsers"> Zobacz użytkowników </a> </li>
</ul>

<p>---------------------------------------------------</p>
<br>

<a href="/home"> Strona domowa </a>

</body>
</html>
