<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>
<body>
<a href="/">Strona Główna</a>

<p th:if="${session == 'inactive'}" style="color: red;">
    Account is inactive
</p>

<p th:if="${session == 'invalidCred'}" style="color: red;">
    Invalid username or password
</p>


<form action="/login" enctype="application/x-www-form-urlencoded" method="post">
    <p>
        Username:
        <input type="text" name="username">
    </p>
    <p>
        Password:
        <input type="password" name="password">
    </p>
    <p>
        <input type="submit" value="Login">
    </p>
</form>
</body>
</html>